<!DOCTYPE html>
<html>
    {% extends 'base.html'%}
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{%block title%}Home{%endblock%}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
{% block content %}
<body>
    <h1 class="text-center">Student details from Database</h1>
    <hr>
    <br>
    
    
  
    <table border='' class="table table-bordered">
        {% for student in students %}
    <tr >
    <td>{{student.id}}</td>
    <td>{{student.first_name}}</td>
    <td>{{student.last_name}}</td>
    <td>{{student.student_address}}</td>
    <td> <a class="btn btn-primary" role="button" href="{% url 'student' student.id %}">click me</td>
    </tr>
    {% endfor %}
  </table>

    

</body>
{% endblock %}
</html>